<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Urban by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<link rel="icon" type="image/png" href="./static/favicon.png">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index">Urban <span>by TEMPLATED</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="about_me">About Me</a></li>
					<li><a href="contact">Contact</a></li>
					<li><a href="elements">Elements</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">
				<section class="wrapper style1">
					<div class="inner">

						<header class="align-center">
							<h1>Contact Me</h1>
						</header>
						<hr class="major" />
						<!-- Form -->
						<h3 class="align-center">Thanks for reaching out, {{name}}!</h3>
						<p class="align-center">I'll get back to you as soon as I can!</p>
					</div>
				</section>
			</div>

			<hr class="major" />			
							
		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://twitter.com/cshibles101" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/cshibles101" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/christopher-shibles" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>

					<a target="_blank" href="https://icons8.com/icons/set/user">Favicon icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/skel.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>